.contact-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
}

.contact-info-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0px 15px 0px 15px;
}

.contact-card,
.social-card {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 2rem;
}

.social-card {
  margin-bottom: 3vh;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #000000;
  margin-top: 0.25rem;
  color: white;
}

.item-title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.item-text {
  color: #ffffff;
}

.item-subtext {
  color: #252628;
  font-size: 0.9rem;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  transition: background 0.3s;
  text-decoration: none;
  color: white;
}

.social-link:hover {
  background: rgba(0, 0, 0, 0.5);
}

.social-link:hover .icon {
  color: white;
}

.social-text {
  font-weight: 400;
}
