.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  margin-top: 1vh;
}

.navbar-column {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.navlink {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

.navlink:hover {
  color: grey;
}

.active {
  /* background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate; */
  color: rgb(151, 151, 151);
}

.logo-container {
  display: flex;
  justify-content: start;
}

.logo {
  width: 80px;
  padding: 10px;
}

.dropdown-size {
  height: 25vh;
}

/*responsive*/

@media screen and (max-width: 480px) {
  .dropdown-size {
    height: 25vh;
  }
}

@media screen and (max-height: 900px) {
  .dropdown-size {
    height: 30vh;
  }
}

/* @keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */
