.navbar-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
}

.navbar-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.navlink {
  font-size: large;
}

.navlink:hover {
  color: grey;
}

.active {
  color: red;
}

.outlined-container {
  display: flex;
  justify-content: end;
}

.outlined {
  width: 80px;
  padding: 10px;
}
