.event-main-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 40px;
  align-items: center;
  margin-bottom: 2rem;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}

.main-text-events {
  margin: auto;
  width: 90vw;
  padding: 10px;
  font-size: large;
  text-align: center;
  animation: fadeIn 1.2s ease-in;
}

.event-image {
  width: 200px;
}

.event-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  margin-bottom: 2rem;
  /* outline: solid black 2px; */
}

.event-highlight {
  background-color: #f7de7c !important; /* yellow-400 */
  border-radius: 50%;
  color: black !important;
}

/* calendar month */
.rdp-caption_label {
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .calendar-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .event-image {
    width: 40vw;
  }

  .event-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    font-size: large;
    font-weight: 500;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
