.main-container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 40px;
  align-items: center;
}

.main-text {
  margin: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.form {
  padding: 15px;
  width: 400px;
  outline: solid 2px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8%;
}

button {
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .form {
    width: 80vw;
  }

  .main-text {
    width: 80vw;
    gap: 10px;
  }
}
