* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfddde;
  font-family: "Oswald", sans-serif;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO SECTION */
.logo-container {
  display: flex;
  justify-content: start;
}

.main-logo {
  width: 150px;
  padding: 10px;
}

.main-image {
  max-width: 40%;
  height: auto;
  object-fit: contain;
}

/* FULL PAGE WRAPPER */
#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.first-panel {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}

.panels {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* PANEL STYLING */
#a {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

#b {
  margin-top: 100vh;
  background: rgb(0, 0, 0);
  color: white;
}

#c {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
}

#d {
  background: rgb(255, 255, 255);
}

.pig-logo {
  height: 250px;
  width: 250px;
  padding: 10px;
  position: absolute;
}

.logo-text-container {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.custom-class {
  position: absolute;
}

/* === RESPONSIVE === */
@media screen and (max-width: 480px) {
  .main-image {
    max-width: 80%;
    height: auto;
    object-fit: contain;
  }

  .panels {
    padding: 0px;
    height: auto;
    min-height: 100vh;
    flex-direction: row;
  }

  #c {
    background-position: center;
  }
}
